@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    background-color: #1d1d1d;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    position: relative;
    overflow-x: hidden;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.tcenter{
    text-align:center;
}
.shadowed{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.64) !important;
}
#drop_file_zone {
    margin-top:20px;
    margin-bottom:20px;
    width: 80%;
    height: 400px;
    padding: 8px;
    font-size: 18px;
    color:black;
    display:flex;
    border-radius:5px;
    align-items:center;
}
.img-content{
    color:wheat;
    text-align: center;
}
.uploadsParent{
    display:flex;
    flex-direction:column;
    width:80%;
    justify-content:space-between;
    flex-wrap:wrap;
}
.uploadsContainer{
    margin: 20px 0;
    background-color: #171717d4;
    width: auto;
    color:white;
    display:flex;
    padding:8px;
    min-width: 300px;
    flex-direction:column;
    border-radius:5px;
}
.uploadsContainer > * {
    width:100%;
}
.uploadTitle{
    color:gold;
    text-align:center;
    margin:0;
}
#drag_upload_file {
    width:50%;
    margin:0 auto;
}
#drag_upload_file p {
    text-align: center;
}
#drag_upload_file #selectfile {
    display: none;
}
.makePriv{
    text-align:center;
}
tr:nth-child(even) {
    background-color: #5e5e5e;
}
.fileLink{
    text-decoration:none;
    color:gold;
}
.deleteBtn{
    color:#ff4f4f;
    background:none;
    border:none;
    cursor:pointer;
    padding:0 10px;
}
.actionBtn{
    color:#ff4f4f;
    cursor:pointer;
    padding:0 10px;
}
.viewBtn, .gotoBtn{
    color:#00e8c7;
    cursor:pointer;
    padding:0 10px;
}
.filePreviewer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e3;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-weight: 700;
}
.filePreviewer > *{
    max-width: 80%;
    max-height: 100%;
}
.closePreview{
    font-size: 50px;
    margin-bottom: 20px;
    cursor:pointer;
    color: #ff4040;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -9;
}

.state {
    text-align: center;
    margin: 20px 0; 
    display:none;
}
.stateOn > span{
    background-color: gold;
    color:black;
    border-radius:5px;
    padding:10px;
}
.stateSucceed > span{
    background-color: rgb(0, 180, 0);
    color:black;
    border-radius:5px;
    padding:10px;
}
.stateFailed > span{
    background-color: rgb(158, 0, 0);
    color:black;
    border-radius:5px;
    padding:10px;
}
#SignUpBtn{
    color: #c3b6a2;
    border-color: #c3b6a2;
    transition:all 0.33s;
}
#SignUpBtn:hover{
    color:black;
    background-color: #c3b6a2;
}
.form-signin, .form-signup{
    width:100%;
    margin:auto;
}
#login, #signup{
    display: none;
    align-self: center;
    background-color: #131313ed;
    height: 100%;
}
#login>form, #signup>form{
    max-width:400px;
}
.modalCloseBtn{
    right: 20px;
}
td > .badge{
    font-size: 10px;
}
.form-switch{
    display: flex !important;
    justify-content: center !important;
    text-align:left;
}
.active{
    color:green;
}

@media only screen and (max-width: 550px) {
    #content {
      padding: 0 !important;
    }
}